html{
    background-color: rgb(15, 56, 56);
}

.container-fluid{
    background-color: rgb(8, 35, 35);

}

input[type="text"]{
    background: transparent;
    color: white;
}

input[type="text"]:focus{
    background: transparent;
    color: white;
}